{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "ragdoll": "Collide",
    "weapon": "Trigger",
    "player": "Collide",
    "playerclip": "Collide",
    "no_collide": "Collide",
    "entity": "Collide",
    "grabbed": "Collide",
    "construct": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "ragdoll",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "weapon",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "playerclip",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "no_collide",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "grabbed",
      "r": "Ignore"
    },
    {
      "a": "ragdoll",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "no_collide",
      "b": "construct",
      "r": "Ignore"
    },
    {
      "a": "no_collide",
      "b": "entity",
      "r": "Trigger"
    },
    {
      "a": "ragdoll",
      "b": "no_collide",
      "r": "Ignore"
    },
    {
      "a": "ragdoll",
      "b": "player",
      "r": "Ignore"
    }
  ],
  "__guid": "91d3cd38-31ed-4507-a317-6c1deb2af8a5",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}