{
  "Version": 2,
  "Mixers": {
    "Guid": "f29d80b2-f5a3-4356-a58a-2e7aefedb927",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 0,
    "MaxVoices": 128,
    "DistanceAttenuation": 0,
    "Occlusion": 0,
    "AirAbsorption": 0,
    "OverrideOcclusion": false,
    "OcclusionTags": "world",
    "IsDefault": true,
    "Processors": [],
    "Children": [
      {
        "Guid": "82952af1-75ac-42a9-b2bf-8812511fb246",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": [
          {
            "Guid": "a8c0c5f8-9000-4d2c-8655-499b3f24af51",
            "Name": "Footsteps",
            "Volume": 0.25,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 32,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "9c6199e9-4bf3-44cd-9082-f3f917f45a53",
            "Name": "Printer",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 16,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "33656371-f4d8-4736-ac85-2e10dc4f31c7",
            "Name": "World",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 32,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "8e95e547-9889-495c-bb98-66504376569b",
            "Name": "TTS",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "cbe1a5ff-7ef1-420c-abf4-06d6e0e7d736",
            "Name": "Equipment",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 64,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "819e9563-d093-42b9-94db-c9ed81096f39",
            "Name": "Wire",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 32,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "5e2f6356-e3a9-4027-927d-008c30b893fb",
            "Name": "Notification",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 16,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "28278a9e-07ec-4421-8541-2e727701616a",
            "Name": "Lockdown",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 16,
            "DistanceAttenuation": 0,
            "Occlusion": 0,
            "AirAbsorption": 0,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "5078e2ef-faeb-4775-a28f-e3aa98010800",
            "Name": "Radio",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 32,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          },
          {
            "Guid": "8faadb90-35ec-41c3-9fc8-e00fa588c1ac",
            "Name": "Tv",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "MaxVoices": 64,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "OverrideOcclusion": false,
            "OcclusionTags": null,
            "Processors": [],
            "Children": []
          }
        ]
      },
      {
        "Guid": "952670b3-33e2-4fbc-a0aa-b9bf08c67610",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "02e4893a-577a-43d3-9adc-137b62d16798",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 32,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "0e450cf8-21e0-4d13-a141-347c4a35d934",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}